<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="urlAPI.Granjita" value="https://pcg.admintotal.com/api/v2/productos/" />
    <add key="urlAPIKey.Granjita" value="V3S2BQ7KR83NKW3Y47RSWEOOLNQMZ40JWEY" />

    <add key="urlAPI.Corralito" value="" />
    <add key="urlAPIKey.Corralito" value="" />


    <add key="rutalog" value="C:/TASKS/CargaProductosPantallas/log/" />
    
  </appSettings>
</configuration>