<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="urlAPI.Granjita" value="https://pcg.admintotal.com/api/v2/productos/" />
    <add key="urlAPI.GranjitaSubSubLineas" value="https://pcg.admintotal.com/api/v2/subsublineas/" />
    <add key="urlAPIKey.Granjita" value="V3S2BQ7KR83NKW3Y47RSWEOOLNQMZ40JWEY" />

    <add key="urlAPI.Corralito" value="https://corralito.admintotal.com/api/v2/productos/" />
    <add key="urlAPI.CorralitoSubSubLineas" value="https://corralito.admintotal.com/api/v2/subsublineas/" />
    <add key="urlAPIKey.Corralito" value="D5QNWDH39NUGGRKCDR5VWEGXMMZMX3L77EM" />


    <add key="rutalog" value="C:/TASKS/CargaProductosPantallas/log/" />

	  <!--<add key="sqlConn.ConnectionString" value="Data Source=MANUEL\SQLEXPRESS;Initial Catalog=ProductosCarnicos;User ID=sa; password=inteldx486; Connection Lifetime=3" />-->
	   <add key="sqlConn.ConnectionString" value="Data Source=EDAA377\SQLEXPRESS;Initial Catalog=ProductosCarnicos;User ID=sa; password=Granjita2025; Connection Lifetime=3" />
	  <!--<add key="sqlConn.ConnectionString" value="Data Source=CAMAXTLI;Initial Catalog=ProductosCarnicos;User ID=sa; password=inteldx486; Connection Lifetime=3" />-->
    <!--<add key="sqlConn.ConnectionString" value="Data Source=LAPTOPVICVAL1;Initial Catalog=Notaria01;User ID=sa; password=inteldx486; Connection Lifetime=3" />-->

  </appSettings>
</configuration>